.agregar {
    --background: aqua;
}

.image-icon {
    font-size: 100px;
    opacity: 30%;
}

ion-avatar {
    width: 200px;
    height: 160px;
    --border-radius: 15px;
    margin: 0 auto;
}

.take {
    --background: rgb(255, 177, 74);
    color: black;
    font-size: 15px
}

.validators {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.ingreso {
    --font-size: 20px;
}

.ion-margin {
    --background: rgb(255, 177, 74);
    color: black;
    font-size: 15px
}