ion-fab {
    --background: #25d366;
    /* Color de fondo del botón */
    --color: white;
    /* Color del ícono */
    --size: 56px;
    /* Tamaño del botón */
}

ion-icon[name="logo-whatsapp"] {
    font-size: 28px;
    color: aliceblue;
    /* Tamaño del ícono */
}