ion-searchbar {
    width: 90%;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    --background: white;
    --border-radius: 1rem;
    --placeholder-font-weight: 600;
    --placeholder-opacity: 0.2;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    --icon-color: rgb(209, 126, 2);
}